.env
.venv/
*.mbox
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/
data/
metrics/
linaje.json
.mypy_cache/
.ruff_cache/
*.log
silver_prueba/
gold_prueba/
metrics_prueba/
linaje_prueba.json
pruebag.py
prueba.py